<header>
  <h1>Sign Up for an API Token</h1>
</header>

<p>Just a minute from using the most pleasant database around.</p>

<%= form_for(@user) do |form| %>
  <label for="user_name">Name:</label>

  <div>
    <%= form.text_field :name %>
    <p class="error"><%= @user.errors[:name].first %></p>
  </div>

  <label for="user_email">E-mail:</label>

  <div>
    <%= form.text_field :email %>
    <p class="error"><%= @user.errors[:email].first %></p>
  </div>

  <label for="user_password">Password:</label>

  <div>
    <%= form.password_field :password %>
    <p class="error"><%= @user.errors[:password].first %></p>
  </div>

  <label for="user_password_confirmation">Password Confirmation:</label>

  <div>
    <%= form.password_field :password_confirmation %>
    <p class="error"><%= @user.errors[:password_confirmation].first %></p>
  </div>

  <button type="submit">Sign Up</button>
<% end %>
